<h3>Project: <em><%= @project['name'] %></em></h3>
<h4>Description: <em><%= @project['description'] %></em></h4>

<h4>Volunteers working on this project:</h4>

<% @volunteers.each do |volunteer| %>
  <a href="/project/<%= @project['id'] %>/volunteer/<%= volunteer['id'] %>"><h5>- <em><%= volunteer['name'] %></em></h5></a>
<% end %>

<a href="/project/<%= @project['id'] %>/add_volunteer"><h4>Add volunteer</h4></a>

<a href="/project/<%= @project['id'] %>/update_project"><h4>Edit project</h4></a>
