<div class="row">
  <div class="col-md-6">
    <h3>Project: <em><%= @project['name'] %></em></h3>
    <h3>Description: <em><%= @project['description'] %></em></h3>
    <a href="/project/<%= @project['id'] %>/add_volunteer"><h4>Add volunteer</h4></a>
    <a href="/project/<%= @project['id'] %>/update_project"><h4>Edit project</h4></a>
    <form action="/project/<%= @project['id']%>/delete" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit">Delete project</button>
    </form>
  </div>
  <div class="col-md-6">
    <% if @volunteers.any? %>
      <h4>Volunteers working on this project:</h4>
      <% @volunteers.each do |volunteer| %>
      <a href="/project/<%= @project['id'] %>/volunteer/<%= volunteer['id'] %>"><h5>- <em><%= volunteer['name'] %></em></h5></a>
      <% end %>
    <% else %>
      <h4><em>There are currently no volunteers working on this project</em></h4>
    <% end %>
  </div>
</div>
<hr>
